{% extends "main.html" %}
{% block page_title %}Edit User{% endblock %}

{% block extend_head %}
<title>Duxte | Edit User</title>
<style>
    input[disabled] {
        cursor: not-allowed;
    }

    .btn-primary-custom {
        display: inline-block;
        font-weight: 400;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-color: #31B136;
        border: 1px solid #31B136;
        padding: 0.45rem 1.15rem;
        font-size: 1rem;
        line-height: 1.5;
        text-decoration: none;
        border-radius: 0.5rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .btn-primary-custom:hover {
        background-color: #249c1f;
        border-color: #249c1f;
        color: white;
    }

    .btn-primary-custom i {
        margin-right: 8px;
    }

    .btn-secondary-custom {
        display: inline-block;
        font-weight: 400;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-color: #dc3545;
        border: 1px solid #dc3545;
        padding: 0.45rem 1.15rem;
        font-size: 1rem;
        line-height: 1.5;
        text-decoration: none;
        border-radius: 0.5rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .btn-secondary-custom:hover {
        background-color: #c82333;
        border-color: #c82333;
        color: white;
    }

    .btn-secondary-custom i {
        margin-right: 8px;
    }

    .input-error {
        border: 1px solid red;
    }

    .error-message {
        color: red;
        font-size: 0.875rem;
    }

    .divider {
        border-top: 2px solid #31B136;
        margin: 0.8rem 0;
        width: 60%;
    }

    .section-header {
      background-color:rgb(255, 255, 255);
      color: black;
        padding: 0.5px;
        border-radius: 5px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section-header h6 {
        margin: 0;
    }

    .search-box {
        width: 200px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .checkbox-group {
        max-height: 200px;
        overflow-y: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
    }

    .checkbox-group div {
        width: 20%; /* 5 checkboxes per row */
        box-sizing: border-box;
        padding: 0.5rem 0;
    }

    .checkbox-group label {
        margin-left: 5px;
    }
</style>
{% endblock %}

{% block content %}
<section class="ftco-section">
        <h4>Edit User</h4>
        <div class="divider"></div>

        <!-- Messages -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert-content fade-out-alert">
            <i class="fas fa-info-circle"></i> {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <!-- Error Log -->
        {% if errors %}
        <div class="error-log">
            <h5 class="error-title"><i class="fas fa-info-circle"></i> Error Log</h5>
            <ul class="error-list">
                {% for error in errors %}
                <li class="error-item">
                    <i class="fa fa-exclamation-triangle"></i> {{ error }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Edit User Form -->
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <!-- Username -->
                <div class="col-md-6 form-group">
                    {{ form.username.label_tag }}<span class="text-danger">*</span>
                    <div class="input-group-icon">
                        {{ form.username }}
                        <div class="input-icon"><i class="fa fa-user"></i></div>
                    </div>
                    <small class="text-muted">Leave to keep the current username.</small>
                    {% if form.username.errors %}
                    <small class="error-message">{{ form.username.errors|join:", " }}</small>
                    {% endif %}
                </div>
                
                <!-- Password 1 -->
                <div class="col-md-6 form-group">
                    {{ form.password1.label_tag }}<span class="text-danger">*</span>
                    <div class="input-group-icon">
                        {{ form.password1 }}
                        <div class="input-icon"><i class="fa fa-lock"></i></div>
                    </div>
                    <small class="text-muted">Enter a new password or the current password.</small>
                    {% if form.password1.errors %}
                    <small class="error-message">{{ form.password1.errors|join:", " }}</small>
                    {% endif %}
                </div>
                
                <!-- Password 2 -->
                <div class="col-md-6 form-group">
                    {{ form.password2.label_tag }}<span class="text-danger">*</span>
                    <div class="input-group-icon">
                        {{ form.password2 }}
                        <div class="input-icon"><i class="fa fa-lock"></i></div>
                    </div>
                    <small class="text-muted">Confirm the new password or the current password.</small>
                    {% if form.password2.errors %}
                    <small class="error-message">{{ form.password2.errors|join:", " }}</small>
                    {% endif %}
                </div>
                
                <!-- Software Categories -->
                <div class="col-md-12 form-group">
                    <div class="section-header">

                    {% comment %} <label for="categories">Software Categories<span class="text-danger">*</span></label> {% endcomment %}
                    <h6>Software Categories</h6>

                    <input type="text" id="category-search" class="search-box" placeholder="Search categories...">
                </div>
                <div class="checkbox-group" id="category-checkbox-group">
                        {% for category in available_categories %}
                        <div>
                            <input type="checkbox" id="category_{{ forloop.counter }}" name="categories" value="{{ category.id }}"
                                {% if category.id in user_categories %}checked{% endif %}>
                            <label for="category_{{ forloop.counter }}">{{ category.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    {% if form.categories.errors %}
                    <small class="error-message">{{ form.categories.errors|join:", " }}</small>
                    {% endif %}
                </div>

            <!-- Button Container -->
            <div class="button-container">
                <button type="submit" class="btn-primary-custom"><i class="fa fa-save"></i> Save Changes</button>
                <a href="{% url 'user_list' %}" class="btn-secondary-custom"><i class="fa fa-times"></i> Cancel</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}