{% extends 'main.html' %}
{% block page_title %}Change Password{% endblock %}

{% block extend_head %}
<title>Duxte|Change Password</title>
{% endblock %}

{% block extend_header %}
<style>
  .btn-primary-custom {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #31B136;
    border: 1px solid #31B136;
    padding: 0.45rem 1.15rem;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn-primary-custom:hover {
    background-color: #249c1f;
    border-color: #249c1f;
    color: white;
  }

  .btn-primary-custom i {
    margin-right: 8px;
  }
  
  .divider {
    border-top: 2px solid #31B136; /* Thicker divider with dominant color */
    margin: 0.8rem 0;
    width: 60%; /* Adjust width to fit the section */
 }

</style>
{% endblock %}

{% block content %}
<section class="ftco-section">
    <div class="container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <h4>Change Password</h4>
          <div class="divider"></div>

          
          
          <div class="col-md-6 mb-3">
            <div class="input-group2 input-group-icon">
              <input type="password" name="{{ form.old_password.name }}" id="{{ form.old_password.id_for_label }}" placeholder="{{ form.old_password.label }}" required class="{% if form.old_password.errors %}input-error{% endif %}">
              <div class="input-icon"><i class="fa fa-lock"></i></div>
            </div>
            {% if form.old_password.errors %}
              <small class="text-danger">{{ form.old_password.errors|join:", " }}</small>
            {% endif %}
          </div>
  
          <div class="col-md-6 mb-3">
            <div class="input-group2 input-group-icon">
              <input type="password" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" placeholder="{{ form.new_password1.label }}" required class="{% if form.new_password1.errors %}input-error{% endif %}">
              <div class="input-icon"><i class="fa fa-lock"></i></div>
            </div>
            {% if form.new_password1.errors %}
              <small class="text-danger">{{ form.new_password1.errors|join:", " }}</small>
            {% endif %}
          </div>
  
          <div class="col-md-6 mb-3">
            <div class="input-group2 input-group-icon">
              <input type="password" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" placeholder="{{ form.new_password2.label }}" required class="{% if form.new_password2.errors %}input-error{% endif %}">
              <div class="input-icon"><i class="fa fa-lock"></i></div>
            </div>
            {% if form.new_password2.errors %}
              <small class="text-danger">{{ form.new_password2.errors|join:", " }}</small>
            {% endif %}
          </div>
  
          <div class="text-left">
            <button class="btn btn-primary-custom" type="submit" style="width: auto;">
              <i class="fa fa-lock"></i> Change Password
            </button>
                    </div>
  
        </div>
      </form>
    </div>
  </section>
  
  <!-- JavaScript code to trigger SweetAlert -->
  <script>
    {% if form.errors %}
      {% for field in form %}
        {% if field.errors %}
          swal("Error", "{{ field.label }}: {{ field.errors|join:', ' }}", "error");
        {% endif %}
      {% endfor %}
    {% endif %}
  </script>
  {% endblock %}

{% block extend_footer %}
{% endblock %}
