{% extends "main.html" %}

{% block extend_head %}
<title>Duxte|Company User Detail</title>
{% endblock %}

{% block content %}
<style>
  .btn-primary-custom2 {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    box-sizing: border-box;

    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color:  #f0a500; 
    border: 1px solid  #f0a500; 
    padding: .5em 1em;
    font-size: .88em;
    color: black;
    line-height: 1.5;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn-primary-custom2:hover {
    background-color: #d18b00; 
    border-color: rgba(0, 0, 0, 0.5); 
  }
  
</style>
<section class="ftco-section">
  <div class="container">
    <h4>Company User Detail</h4>
    <table class="table table-borderless">
      <tr>
        <th>Company Name:</th>
        <td>{{ company_user.customer_name }}</td>
      </tr>
      <tr>
        <th>Contact:</th>
        <td>{{ company_user.contact }}</td>
      </tr>
      <tr>
        <th>Phone Number:</th>
        <td>{{ company_user.phone_number }}</td>
      </tr>
      <tr>
        <th>Email 1:</th>
        <td>{{ company_user.email1 }}</td>
      </tr>
      <tr>
        <th>Email 2:</th>
        <td>{{ company_user.email2 }}</td>
      </tr>
      <tr>
        <th>Date of Subscription:</th>
        <td>{{ company_user.date_of_subscription }}</td>
      </tr>
      <tr>
        <th>End of Subscription:</th>
        <td>{{ company_user.end_of_subscription }}</td>
      </tr>
      <tr>
        <th>Subscription:</th>
        <td>
          {% if company_user.is_subscription_valid %}
            <span class="badge bg-success">Valid</span>
          {% else %}
            <span class="badge bg-danger">Expired</span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Status:</th>
        <td>
          {% if company_user.is_active %}
            <span class="badge bg-success">Active</span>
          {% else %}
            <span class="badge bg-danger">Inactive</span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Software:</th>
        <td>
          {% if company_user.software %}
            <span>{{ company_user.software.name }} ({{ company_user.software.get_category_display }}, {{ company_user.software.get_type_display }})</span>
          {% else %}
            <span>No software listed</span>
          {% endif %}
        </td>
    </tr>
    
    </table>
    <a href="{% url 'company_user_list' %}" class="btn btn-primary-custom2">Back to List</a>
    <a href="{% url 'update_company_user' company_user.pk %}" class="btn btn-primary-custom2">Edit Details</a>

  </div>
</section>
{% endblock %}
