{% extends "main.html" %}

{% block extend_head %}
<title>Create Company User</title>
{% endblock %}

{% block extend_header %}
<style>
    .btn-primary-custom {
        background-color: #31B136;
        border-radius: 50px;
        border: 1px solid #ebeef4;
        color: white;
        cursor: pointer;
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        align-items: center;
      }
      
</style>

{% endblock %}

{% block content %}
<section class="ftco-section">
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <h4>Create Company User</h4>
        <div>
          <div class="col-md-6 mb-3">
            <div class="input-group input-group-icon">
              <input type="text" name="{{ form.customer_name.name }}" id="{{ form.customer_name.id_for_label }}" placeholder="{{ form.customer_name.label }}" required>
              <div class="input-icon"><i class="fa fa-building"></i></div>
            </div>
          </div>

          <div class="col">
            <div class="input-group input-group-icon">
              <input type="text" name="{{ form.contact.name }}" id="{{ form.contact.id_for_label }}" placeholder="Contact personal" required>
              <div class="input-icon"><i class="fa fa-user"></i></div>
            </div>

            <div class="input-group input-group-icon">
              <input type="text" name="{{ form.phone_number.name }}" id="{{ form.phone_number.id_for_label }}" placeholder="{{ form.phone_number.label }}" required>
              <div class="input-icon"><i class="fa fa-phone"></i></div>
            </div>

            <div class="input-group input-group-icon">
              <input type="email" name="{{ form.email1.name }}" id="{{ form.email1.id_for_label }}" placeholder="{{ form.email1.label }}" required>
              <div class="input-icon"><i class="fa fa-envelope"></i></div>
            </div>

            <div class="input-group input-group-icon">
              <input type="email" name="{{ form.email2.name }}" id="{{ form.email2.id_for_label }}" placeholder="{{ form.email2.label }}">
              <div class="input-icon"><i class="fa fa-envelope"></i></div>
            </div>

            <div class="col-half">
              <div class="input-group input-group-icon">
                <input type="date" name="{{ form.date_of_registration.name }}" id="{{ form.date_of_registration.id_for_label }}" placeholder="{{ form.date_of_registration.label }}" required>
                <div class="input-icon"><i class="fa fa-calendar"></i></div>
              </div>
            </div>

            <div class="col-half">
              <div class="input-group input-group-icon">
                <input type="date" name="{{ form.end_of_subscription.name }}" id="{{ form.end_of_subscription.id_for_label }}" placeholder="{{ form.end_of_subscription.label }}" required>
                <div class="input-icon"><i class="fa fa-calendar"></i></div>
              </div>
            </div>

            <div class="text-left">
                <button class="btn btn-primary-custom text-start" type="submit" style="width: auto;">Submit</button>
            </div>
        
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}

{% block extend_footer %}
{% endblock %}
